body {
  font-family: Helvetica;
  background-image: url("../assets/images/background.jpg");
  margin: 10px auto;
  padding: 10px;
  @media screen and(min-width: 650px){
    padding: 20px;
  }
  @media screen and(min-width: 1024px){
    width: 1024px;
  }
}
a{
  text-decoration: none;
}
main{
  overflow: hidden;
  zoom: 1;
}
